{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block script %}
    <script type="text/javascript">
        let events = [
            {% for event in events %}
            {
                id: {{ event.id }},
                title: 'User: {{ event.username }}\nDescription: {{ event.description }}',
                start: new Date({{ event.start }}),
                end: new Date({{ event.end }}),
                className: 'info',
                allDay: false
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ];
    </script>
{% endblock %}

{% block body %}
    <div id="wrap">
        <div id="calendar"></div>
    </div>
{% endblock %}
